$background-body: #EEEEEE;
$background-section: #FFFFFF;
$color-border-section: #CCCCCC;
$modul: 20px;
$width-section: 70%;
$font: Alata;
$font-size: 14px;
$color-font: #444444;

$height-header: calc($modul*4);
$height-nav: calc($modul*4);
$height-footer: $modul;

$width-logo: 202px;
$height-logo: 49px;

$width-icon: calc($modul * 2);
$height-icon: calc($modul * 2);

$width-icon-menu: calc($modul * 2);
$height-icon-menu: calc($modul * 2);

$icons: 
"admin" 
"attachment" 
"blockade" 
"calender" 
"clients" 
"clock" 
"delete" 
"download" 
"edit" 
"false" 
"forward" 
"home" 
"logout" 
"messages" 
"notes" 
"orders" 
"question" 
"refresh" 
"save" 
"search" 
"settings" 
"star" 
"telephone" 
"true" 
"ublockade" 
"undo"
"monke"
"info"
"location"
"add"
"stats"
"unblockade";


$path-logo: '/css/img/logo.png';


body {
    font-family: $font;
    color: $color-font;
    background-color: $background-body;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    header, nav, main, footer {
        background-color: $background-section;
        width: $width-section;
        margin: 0 auto;
        border: 2px solid $color-border-section;
        border-radius: 5px 5px 5px 5px;
    }
    .icon {
        width: $width-icon;
        height: $height-icon;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .icon-medium {
        width: calc($width-icon / 1.5);
        height: calc($height-icon / 1.5);
    }

    .icon-small {
        width: calc($width-icon / 2);
        height: calc($height-icon / 2);
    }
    @each $icon in $icons {
        .#{$icon} {
            background-image: url('/css/img/icons/unactive/#{$icon}.png');
                &:hover[click='true'] {
                    background-image: url('/css/img/icons/active/#{$icon}.png');
                    transform: .2s;
                    cursor: pointer;
                }
        }
    }

    header {
        height: $height-header;
        border-top: 0px;
        position: relative;
        section {
            .logo {
                position: absolute;
                width: $width-logo;
                height: $height-logo;
                background-image: url(#{$path-logo});
                background-size: contain;
                background-repeat: no-repeat;
                left: $modul;
                top: calc(($height-header - $height-logo) / 2);
            }
        }
    }
    nav {
        position: relative;
        height: $height-nav;
        margin-top: $modul;
        ul {
            position: absolute;
            list-style-type: none;
            top: calc(($height-nav - $height-icon-menu) / 2);
            left: 0;
            li {
                display: inline;
                margin-right: $modul;
                width: $width-icon-menu;
                height: $height-icon-menu;
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
    main {
        margin-top: $modul;
        height: calc(100vh - $height-footer - $height-header - $height-nav - $modul*3);
        overflow-y: auto;
        h3 {
            width: 100%;
            height: $modul*2;
            background-color: $background-body;
            border-bottom: 2px solid $color-border-section;
            padding-left: $modul;
            font-size: $modul;
            vertical-align: middle;
            padding-top: calc($modul / 3);
        }
        section {
            margin: $modul;
            font-size: $font-size;
            color: $color-font;
            table.table {
                padding: 2px;
                font-size: $modul/2;
                color: $color-font;
                thead {
                    
                    th {
                        border: 0px;
                        color: $color-font;
                    }
                }
                tr {
                    padding: 0px;
                    td {
                        padding: $modul/5;
                        border: 1px solid $color-border-section;
                    }
                    th {
                        padding: $modul/5;
                    }
                }
            }
            label {
                display: block;
                margin: 5px;
            }
            input {
                border: 0px;
                border-bottom: 1px solid $color-border-section;
                padding: 1px;
                font-size: $font-size;
                background-color: $background-section;
            }
            input[type='submit'] {
                border-bottom: 0px !important;
            }
            .btn-sm {
                padding: 4px;
                font-size: $modul/2;
                margin: $modul/3;
            }
        }
       
    }
    footer {
        height: $height-footer;
        margin-top: $modul;
        border-bottom: 0px;
        section {
            text-align: center;
            font-size: $modul/3;
            margin-top: calc(($height-footer - $modul/3) / 3);
        }
    }
}

